@font-face {
  font-family: "mulis";
  src: url("../src/assets/fonts//font-mulis/Mulish-Regular.ttf");
}

* {
  font-family: "mulis";
  text-decoration: none;
  list-style: none;
}

html {
  overflow-x: hidden;
}

body {
  background: #fff;
}

.f-sm {
  font-size: small !important;
}

.f-md {
  font-size: 1em;
}

.f-lg {
  font-size: 20px;
}

.f-xl {
  font-size: 26px;
}

.f-xxl {
  font-size: 2.5rem;
}

.f-weight {
  font-weight: 600;
}

.color1 {
  color: #5f2eea !important;
}

.color2 {
  color: #6e7191 !important;
}

.color3 {
  color: #dedede;
}

.color4 {
  color: #ffff;
}

.color5 {
  color: #414141;
}

.color6 {
  color: #14142b;
}

.color7 {
  color: #4e4b66;
}

.color8{
  color: #8692a6;
}

.c-black {
  color: #000;
}

.bg1 {
  background: #5f2eea !important;
}

.bg2 {
  background: #6e7191;
}

.bg3 {
  background: #ffff !important;
}

.bg4 {
  background: #f5f6f8 !important;
}

.bg5{
  background: #EFF0F6 !important;

}

.bg-fb {
  color: #395185 !important;
}

.bg-google {
  color: rgba(214, 25, 25, 0.774);
}
.line {
  text-decoration: underline;
}
.border1{
  border-style: 1px solid !important; 
  border-color: #5f2eea !important;
}

.btn-input {
  color: #fff !important;
  background: #5f2eea !important;
}

.btn-input:hover {
  color: #fff;
  background: #7342fa !important;
}

.btn-shadow {
  background: #fff;
  border: 1px solid #dedede;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input.box {
  font-size: 0.8em;
  background: #fcfdfe;
  border: 1px solid #dedede;
}
